html
  head
    title='Hello from node&express&jade'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 App is working
        p
          P1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus orci, nec pulvinar turpis porta semper. Sed bibendum justo ut sodales ullamcorper. Phasellus vestibulum pharetra urna eu gravida. Quisque id posuere odio. Nam ultricies turpis massa, eget dignissim mauris lobortis non. Etiam euismod iaculis pretium. Integer venenatis ornare sagittis. Ut sagittis lorem eget lectus vulputate, sit amet faucibus purus faucibus. Maecenas ultricies, erat non tempor vestibulum, justo magna condimentum ipsum, nec rhoncus nibh mauris eu felis. Fusce efficitur nisl dui, id pulvinar neque rutrum nec. Sed a porta lectus. Pellentesque accumsan est nec urna suscipit, vel hendrerit nibh congue. Cras et faucibus tellus. Vivamus malesuada purus eget scelerisque efficitur. Ut nec nunc sit amet metus tincidunt vehicula. In ut tempus orci, quis tempor nunc.
        p P2 Nam dictum fringilla mollis. Nulla facilisi. Quisque quis posuere lectus. Fusce ac ante a risus imperdiet pretium. Aenean aliquet placerat ultricies. Suspendisse potenti. Vestibulum et sagittis orci, at vulputate quam. Sed maximus nulla eget diam mollis, eu semper mi scelerisque. Donec nulla sapien, fermentum sit amet bibendum et, accumsan et quam. Nulla interdum posuere est sit amet aliquam. Nulla augue quam, vehicula vitae faucibus nec, iaculis at lectus. Quisque neque nibh, venenatis id placerat a, imperdiet ac justo. Pellentesque et arcu lacinia orci sagittis tristique non tincidunt dolor. Suspendisse potenti.
